<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body class="black-body">
    <%- include('./partials/header.ejs') %>
    <main style="text-align: center">
      <div
        style="background-color: #e51b3e; padding: 20px; border-radius: 15px"
      >
        <h1 class="detail-title">
          <%= actor.first_name + " " + actor.last_name %>
        </h1>
        <br />
        <p>RATING: <%= actor.rating %></p>
        <br />
        <% if(actor.movies.length > 0){ %>
        <h3>Movies</h3>
        <% actor.movies.forEach(movie =>{ %>
        <p><%= movie.title %></p>
        <br />
        <% }) %> <% } %> <% if (actor.favorite_movie_id != null) { %>
        <h3>Pelicula favorita</h3>
        <% movies.forEach(movie => { %>

        <p><%= actor.favorite_movie_id == movie.id ? movie.title : null %></p>

        <% }) %>
        <br />
        <% } %>

        <div class="movieForm-div-button">
          <a href="/actors/edit/<%= actor.id %>"><button>Edit</button></a>
          <a href="/actors/deleteForm/<%= actor.id %>"
            ><button>¿Destroy?</button></a
          >
        </div>
      </div>
    </main>
  </body>
</html>
