<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head.ejs') %>
<body class="black-body">
      <%- include('./partials/header.ejs') %>
    <main style="text-align: center;">
        <div style="background-color :#e51b3e; padding: 20px; border-radius: 15px;">
            <h1 class="detail-title"><%= genre.name %> </h1>
            <br>
            <p>NAME: <%= genre.name %> </p>
            <br>
            <p>RANKING: <%= genre.ranking %> </p>
            <br>
            <h3>Movies</h3>
            <% genre.movies.forEach(movie => { %>
                <p><%= movie.title %></p>
                <br>
            <%}); %>
        </div>
    </main>
</body>
</html>