<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

<body class="black-body">
    <%- include('./partials/header.ejs') %>
    <main class="movieForm-main">
        <form action='/movies/edit/<%= movie.id %>?_method=PUT' method="post" class="movieForm">
            <img class="form-img" src="/img/assets/movie.svg" alt="">
            <div class="movieForm-div">
                <label for="movieTitle">TITLE:</label>
                <input type="text" name="title" id="movieTitle" value="<%= movie.title %>">
                <p><%= locals.errors && errors.title ? errors.title.msg : null %></p>
            </div>
            <div  class="movieForm-div">
                <label for="length">LENGTH:</label>
                <input type="number" name="length" id="length"  value="<%= movie.length %>">
                <p><%= locals.errors && errors.length ? errors.length.msg : null %></p>
            </div>
            <div  class="movieForm-div">
                <label for="rating">RATING:</label>
                <input type="number" name="rating" id="rating" step="0.1"  value="<%= movie.rating %>">
                <p><%= locals.errors && errors.rating ? errors.rating.msg : null %></p>
            </div>
            <div  class="movieForm-div">
                <label for="awards">AWARDS:</label>
                <input type="number" name="awards" id="awards"  value="<%= movie.awards %>">
                <p><%= locals.errors && errors.awards ? errors.awards.msg : null %></p>
            </div>
            <div  class="movieForm-div">
                <label for="releaseDate">RELEASE DATE:</label>
                <input type="date" name="release_date" id="releaseDate"  value="<%= movie.release_date %>">
                <p><%= locals.errors && errors.release_date ? errors.release_date.msg : null %></p>
            </div>
            <div class="movieForm-div-button">
                <button type="submit">Update</button>
                <button type="reset">Clean</button>
            </div>
        </form>
        <p><a href="/movies/detail/<%= movie.id %>">Volver</a></p>

    </main>
</body>
</html>