<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

    <body class="black-body">
      <%- include('./partials/header.ejs') %>
<main style="text-align: center; " >
    <div style="background-color :#e51b3e; padding: 20px; border-radius: 15px;">
      <h1 class="detail-title"><%= movie.title %> </h1>    
    <br>
      <p>RATING: <%= movie.rating %> </p>
      <br>
      <p>AWARDS: <%= movie.awards %> </p>
      <br>
      <p>LENGTH: <%= movie.length + ' min'%> </p>
      <br>
      <p>RELEASE DATE: <%= movie.release_date %> </p>
      <br>
      <p> <%= movie.genre ? `Genre: ${movie.genre.name}` : null %></p>
      <br>
      <% if(movie.actors.length > 0){ %>
          <h3>Actors</h3>
        <% movie.actors.forEach(actor => { %>
          <br>
          <p><%= actor.first_name  %> <%= actor.last_name  %></p>
          <br>
        <% }) %>
      <% } %>
      <div class="movieForm-div-button">
        <a href="/movies/edit/<%= movie.id %>"><button >Edit</button></a>
        <a href="/movies/deleteForm/<%= movie.id %>"><button>¿Destroy?</button></a>
      </div>
    </div>
  </main>
</body>
</html>